aside{
    width: 30%;
    padding: 15px 15px;
    margin: 15px 15px;
    background-color: rgb(194, 187, 187);
    text-align:justify;
    float: right;
    font-style: italic;
}

details > summary{
    width: 150px;
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(2, 81, 83);
}

button {
    background-color: rgb(5, 73, 50);
    border-color: rgb(58, 121, 100);
    color: white;
    padding: 7px;
    margin: 10px;
}

button:hover {
    background-color: rgb(7, 146, 100);
}

button:active {
    font-size: 14px;
}